:root{
    --wcolor: rgb(237,160,46);
    --pcolor: rgb(86,89,98);
    --bcolor: rgb(37, 39, 51);
    --ocolor: rgb(198,147,9);
    --lbcolor: rgb(65,164,151);
    --dbcolor: rgb(43,47,58);
    --wcolor: rgb(243, 243, 243);
    --shcolor: rgb(0,0,0);
    --bcolor: rgb(204, 204, 204);
   }
   /*----------------------------------------------------------header-----------------------------------------------------------------------*/
body{
    padding: 0px;
    margin-top: 0px;
}
   header{
    background-image: url(../../../frontend/assets/images/ens1.jpg);
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
    /* background-color: red; */
    background-size: cover;
    height: 550px;
    /* margin-top: 0px; */
    /* text-align: center; */
}
header .middle
{
   /* border: 2px solid greenyellow; */
   text-align: center;
   font-size: 50px;
   color: var(--wcolor);
   position: absolute;
   top: 30%;
   left: 20%;
}
header .point{
   /* border: 6px solid pink; */
   position: absolute;
   top: 94%;
   left: 45%;
   height: 20px;
   /* color: var(--wcolor); */
   display: flex;
   /* align-items: baseline; */
   /* border: 4px solid olive; */
   width: 10%;
   gap: 20px;
}
header .point .rond
{
    border: 2px solid var(--ocolor);
    border-radius: 50px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    
}
i{
    color: var(--ocolor);
}
.defile p{
    display: none;
}
.un{
        background-color: var(--ocolor);
}
header .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: var(--bcolor); */
    padding-bottom: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.041);
    /* position: relative; */
    position: fixed;
    /* z-index: 10; */
}
a{
    text-decoration: none;
    color: var(--wcolor);
}
li img{
        position: absolute;
        bottom: 100%;
        left: 40%; 
}




/* --------------------------------body----------------------------------------------------------------------------------------------- */
section article{
    background-color: var(--lbcolor);
    height: 180px;
}
section{
    position: relative;
}
section .section{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10%;
    width: 85%;
    top: 40%;
    left: 8%;
    /* border: 6px solid rebeccapurple; */
    z-index: 1;
}
section .section div{
    background-color: white;
    height: 250px;
    width: 40%;
    /* border: 1px solid black; */
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.15);
}
article p{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    margin: 0px;
}
section .section div p{
    text-align: center;
}
section .section div .icony{
    font-size: 30px;
}
section .section div .spans{
    font-size: 25px;
    line-height: 30px;
}
section .section div .spansb{
    font-size: 13px;
    line-height: 30px;
    font-weight: bolder;
}
.espace{
    height: 150px;
    background-color: white;
}
/* --------------------------------footer----------------------------------------------------------------------------------------------- */
/* footer{
    height: 200px;
    background-color: var(--wcolor);
} */
/*  */